
{% if alert_message == 'alert-success' %}
<div class="container">
    <div class="alert {{ alert_message }} alert-dismissible fade show" role="alert">
        <strong>Issue added!</strong> Your issue number is <strong>{{ issue_count }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endif %}

{% if alert_message == 'alert-danger' %}
<div class="container">
    <div class="alert {{ alert_message }} alert-dismissible fade show" role="alert">
        <strong>Issue deleted!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endif %}

{% if alert_message == 'alert-warning' %}
<div class="container">
    <div class="alert {{ alert_message }} alert-dismissible fade show" role="alert">
        <strong>Issue updated!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endif %}
