<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

    <link rel="icon" href="{{ url_for('static',filename='img/strata_icon.png') }}">
    <title>{% block title %} Strata {% endblock %}</title>
</head>
<body>
    {% include 'header.html' %}
    {% block content %}
    {% include 'raise_issue_jumbotron.html' %}
    {% include 'alert_message.html' %}
    {% include 'issue_table.html' %}
    {% include 'raise_issue_modal.html' %}
    {% endblock %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static',filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</body>
</html>