<nav class="navbar navbar-expand-md navbar-light bg-warning mb-4">
  <a class="navbar-brand" href="{{ url_for('index') }}">
    <img src="{{ url_for('static',filename='img/strata_icon.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
    Strata
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerHeader" aria-controls="navbarTogglerHeader" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerHeader">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if user %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('signout') }}">Sign-out</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
