{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% for key,value in results_dict.items() %}
    <div class="card">
        <form method="POST" action="{{ url_for('issue_update') }}">
            <div class="card-header">
                <h5>Update Issue no. {{ key }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <textarea class="form-control" name="issue_description">{{ value }}</textarea>
                    <input type="hidden" value="{{ key }}" name="issue_number">
                </p>
            </div>
            <div class="card-footer text-right text-muted">
                <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
                {% if user[3] %}{# if user is admin #}
                <button type="submit" name="form_button" value="delete" class="btn btn-danger">Delete</button>
                {% endif %}
                <button type="submit" name="form_button" value="update" class="btn btn-warning">Update</button>
            </div>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}