<div class="container">
    <table class="table table-hover">
      <thead class="text-center">
        <tr>
          <th scope="col">Issue No.</th>
          <th scope="col">Issue</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      {% for key,value in results_dict.items() %}
        <tr>
          <th scope="row" class="text-center">{{ key }}</th>
          <td>{{ value }}</td>
          <td class="text-center">
            <form method="GET" action="{{ url_for('issue_update') }}">
              <button type="submit" value="{{ key }}" name="edit" class="btn btn-outline-warning">Edit</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>