<main role="main" class="container">
  <div class="jumbotron">
    <h1>Strata Issue Tracker</h1>
    <p class="lead">Hi <strong>{{ user_name }}</strong>, submit any issues that you encounter within the building using the Strata Issue Tracker</p>
    <a class="btn btn-lg btn-warning" data-toggle="modal" data-target="#raise_issue">Raise New Issue</a>
  </div>
</main>