<div class="modal fade" id="raise_issue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="{{ url_for('index') }}">
                <div class="modal-header">
                    <h5 class="modal-title" id="raise_issue_Label">Raise New Issue</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="issue_number" class="col-form-label">Issue Number:</label>
                        <input type="text" class="form-control" id="issue_number" value="{{ issue_count + 1 }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="issue_description" class="col-form-label">Issue:</label>
                        <textarea class="form-control" id="issue_description" name="issue_description" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>