{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            {% if alert_message %}
            <div class="alert {{ alert_message }} alert-dismissible fade show" role="alert">
                <strong>Please try again!</strong> Check your email or password.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <div class="container border border-dark rounded bg-light py-3">
                <form method="post" action="{{ url_for('signin') }}">
                    <div class="form-group">
                        <label for="InputEmail">Email address</label>
                        <input type="email" class="form-control" name="email" id="InputEmail" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Password</label>
                        <input type="password" class="form-control" name="password" id="InputPassword" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-warning">Sign in</button>
                    <small class="form-text text-muted">No account yet? <a href="{{ url_for('signup') }}">Sign up here</a></small>
                </form>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

{% endblock %}