{% extends 'base.html' %}

{% block content %}
<main role="main" class="container">
  <div class="jumbotron">
    <h1>Strata Issue Tracker</h1>
    <p class="lead">Sign in to submit any issues</p>
    <a class="btn btn-lg btn-warning" href="{{ url_for('signin') }}">Sign In</a>
  </div>
</main>
{% endblock %}
